
<h1> <%= @cat.name %> </h1>

<table>
    <thead>
        <tr>
            <th >Birthdate</th> 
            <th>Color</th>
            <th>desription</th> 
            <th>Sex</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @cat.birth_date %></td>
            <td><%= @cat.color %></td>
            <td><%= @cat.description %></td>
            <td><%= @cat.sex %></td>
        </tr>
    </tbody>
</table>